.Message {
    margin: 20px;
    padding: 20px;
    border: 1px solid #cccccc;
}

.Message .message-head {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.Message .author {
    font-weight: bold;
}

.Message .date {
    color: #999999;
}

.Message .message-body {
    font-size: 20px;
}
